@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    /*font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif;*/
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color: hsl(30, 38%, 92%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section{
    margin: 30px auto;
    padding: 0 30px;
}
.box{
    background-color: hsl(0, 0%, 100%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 700px;
    border-radius: 15px;
    overflow: hidden;
}
.img img{
    max-width: 100%;
    display: inherit;
}
.about-box{
    margin: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about-box .first-about{
    color: hsl(228, 12%, 48%);
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
}
.about-box .h3{
    font-size: 40px;
    font-family: 'Fraunces', serif;
    color: hsl(212, 21%, 14%);
}
.about-box .second-about{
    color: hsl(228, 12%, 48%);
    line-height: 25px;
}
.price{
    display: flex;
    align-items: center;
    font-family: 'Fraunces', serif;
}
.new-price{
    color:hsl(158, 36%, 37%);
    font-size: 20px;
    font-weight: 700;
    padding-right: 23px;
}
.old-price{
    text-decoration:line-through;
    font-size: 13px;
    color: hsl(228, 12%, 48%);
}
.button{
    background-color: hsl(158, 36%, 37%);
    padding: 12px 0;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.button img{
    padding-right: 10px;
    padding-top:2px ;
}
.attribution{
    position: absolute;
    bottom: 50px;
}